*{
    margin: 0px;
    padding: 0px;
    font-family: arial,sans-serif;
    font-size: 14px;
}
.type{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.type>li{
    list-style: none;
    margin: 20px 10px 10px 10px;
}
.type>li>img{
    border-radius: 50%;
}
.middle{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
input{
    height: 3em;
    width: 600px;
    border:1px solid #dee;
    border-radius: 20px;
}
.inputbar{
    margin: 20px;
}
.inputbar>img{
    position: relative;
    right: 50px;
    top: 5px;
}
button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
/*.one{
    height: 40px;
    width: 100%;
    background-color:#F2F2F2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
}*/
